CLIENT_ID=607870352143-na4r6tsb78k9ie4i77h9pbhn0dv6dlv3.apps.googleusercontent.com
CLIENT_SECRET=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
REDIRECT_URI=https://art-wall-server.onrender.com/oauth2callback
FOLDER_ID=1CbJrAD8trPvQ5F2kpaifwQcZ8bGjWIWZ
REFRESH_TOKEN=
